.ContactForm {
  padding-bottom: 80px;

  .left {
    color: #0c1f31;

    h2 {
      font-size: 36px;
      font-weight: 800;
      color: $color-5;
    }

    .contact-box {
      margin: 46px 38px 0 0px;
      border: 1px solid $color-1;
      padding: 15px;
      background-color: $white;

      .btn {
        padding: 5px 15px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin-top: -56px;
        border-radius: 4px;
      }

      .content {
        display: flex;
        align-items: center;
        margin: 10px;
      }

      .icon {
        font-size: 18px;
        color: #ffffff;
        background: #003f6d;
        width: 34px;
        height: 34px;
        line-height: 36px;
        border-radius: 4px;
        text-align: center;
      }

      p {
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: 600;
        color: #003f6d;
        margin-left: 10px;
      }

      a {
        color: #003f6d;
      }
    }
  }

  form {
    background: #fff;
    padding: 45px;
    color: #0c1f31;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

    h4 {
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      color: #003f6d;
      letter-spacing: 1px;
    }

    .form-control {
      padding: 0.6rem 0.75rem;
      margin: 15px 0px;
    }

    .btn-warning {
      color: #fff;
      border-color: #ffffff;
      background-image: linear-gradient(96deg, $color-1 0%, $color-2 100%);
    }
  }
}